@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Oswald');

html, body, article {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	position: relative;
}

.header-wrapper {
	width: 100%;
	height: 192px;
	border: none;
	padding-top: 15px;
	background: #24201F url(../imgs/header2.png) no-repeat center;
	align-content: center;
}

.inner-header-wrapper {
	width: 100%;
	position: relative;
}

.inner-business-content {
	position: relative;
	height: 100%;
}

.stripe-image {
	width: 100%;
	height: 305px;
	background: #c77751 url(../imgs/slice.jpg) no-repeat center center;
    background-size: cover;
	line-height: 16px;
}

.business-name {
    font-family: 'Kaushan Script', cursive;
	letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #343e44;
    font-size: 32px;
    margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 0;
}

.b_header {
    padding: 135px 285px 20px;

}

.business-address {
	font-family: 'Oswald', sans-serif;    
    font-size: 15px;
    line-height: 16px;
	color: #fff;
}

.business-content {
    padding: 60px 150px 0;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header-button {
    border-radius: 3px;
    cursor: pointer;
    display: block;
    font-size: 20px;
	font-family: 'Oswald', sans-serif;    
    height: 33px;
    letter-spacing: .5px;
    line-height: 1.7;
    margin: 0 auto;
    max-width: 160px;
    text-align: center;
    text-decoration: none;
    background-color: #76EE00;
    border: 0;
    color: #ffffff;
    width: 180px;
	position: absolute;
	bottom: 0;
	top: auto;
	right: 0;
}

.header-button:hover {
	background-color: #66CD00;
	color: #fff;
	text-decoration: none;
}

.popular-items {
    margin: 0;
	padding: 0;
	width: 505px;
	display: inline-block;
	vertical-align: top;
}

.business-details {
	background: #f7f8f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
	width: 381px;
    padding: 25px 20px 30px;
	display: inline-block;
	right: 0;
	top: 0;
	box-sizing: border-box;
}

.make-order {
	background-color: #ef3b41;
    border: 0;
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 36px;
	font-family: 'Oswald', sans-serif;    
	border-radius: 3px;
    height: 88px;
    line-height: 2.5;
    position: static;
	text-align: center;
    margin-top: auto;
	text-decoration: none;
    width: 100%;
	left: 0;
    letter-spacing: .2px;
	position: static;
}

.popular-item-wrapper {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid #e4e5e7;
    height: 85px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;

}

.popular-items-header {
	font-family: 'Oswald', sans-serif;    
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #9db2c3;
    font-size: 24px;
    padding-bottom: 10px;
	margin: 0;
}

.popular-header {
	color: #6b9ac0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 10px;
}

.popular-item-desc {
    color: #343e44;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

div {
	display: block;	
}

.make-order:hover {
	background-color: #d7353a;
	color: #fff;
	text-decoration: none;
}

.popular-item-wrapper:hover {
	text-decoration:none;
}

.business-day {
	display: inline-block;
    font-size: 13px;
    text-align: left;
    width: 50%;
}

.business-time {
	display: inline-block;
    font-size: 13px;
    text-align: right;
    width: 50%;
}

.weekly-schedule {
	font-size: 18px;
}

.weekly-schedule-list {
	font-size: 0;
}

.list-item {
	padding-top: 18px;
}

.list-icon {
	height: 22px;
    margin-right: 6px;
    vertical-align: middle;
    width: 15px;
}

.image-stripe {
    background: #9ea1a7 url(../imgs/header3.png) no-repeat top left;
    background-size: cover;
    color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 240px;
    padding-top: 40px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
	padding-top: 60px;
}

.info-header {
	padding: 0 150px;
    text-align: left;
	margin-bottom: 30px;
	width: 100%;
}

.delivery-details {
	text-align: left;
	padding: 9px 150px;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
	display: flex;
}

.delivery-item {
	color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-right: 40px;
    text-align: center;

}

.delivery-number {
	margin-top: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 1.7;
}



.delivery-desc {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: 'Oswald', sans-serif;    
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #9db2c3;
    font-size: 13px;
    margin: 0;
}

.delivery-details-wrapper {
    background: linear-gradient(rgba(52,62,68,0.7), rgba(52,62,68,0.7));
    margin-top: auto;
    width: 100%;
}

.order-name {
	color: #fff;
	margin-bottom: 20px;
}

.shop-content {
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 20px auto;
	padding: 0 150px;
}

.menu-items {
	-webkit-box-flex: 2;
    -webkit-flex: 2 650px;
    -ms-flex: 2 650px;
    flex: 2 650px;
	margin-right: 100px;
}

ol, li, ul {

	padding-left: 0;
    list-style: none;
}
