.shop-product {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e4e5e7;
    font-size: 16px;
    padding: 20px 0;
}

.food-header {
	margin: 0;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.accordion {
    color: #444;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid;
    outline: none;
    transition: 0.4s;
	padding-top: 20px;
	padding-bottom: 10px;
}

.accordion:after {
    content: '\2795'; /* Unicode character for "plus" sign (+) */
    font-size: 22px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
}
.panel {
    margin-top: 10px;
		background-color: white;
    display: none;
}

.panel.show {
	display: block!important;
}

.menu-item-name {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 10px;
}

.menu-item-desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.dj-menu-item {
    padding: 20px 0;
}

.product-spacer {
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.product-options-wrapper {
	float: right;
	cursor: pointer;
	padding: 20px 0;
}

.product-options {
	-webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: transparent;
    border: 0;
    margin: 0 0 10px;
    text-align: right;
    width: auto;
}

.product-size {
	display: inline-block;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 13px;
    margin-right: 10px;
    text-align: right;
}

.product-price {
	display: inline-block;
	border-radius: 3px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 44px;
    letter-spacing: .2px;
    line-height: 2.9;
    margin: 0 auto;
    max-width: 260px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border: 1px solid;
    width: 110px;
}

.cart-wrapper {
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1 370px;
    flex: 1 370px;
    float: none;
    margin-bottom: 60px;
	background: #f7f8f9;
    height: 0%;
    width: 100%;
}

.shopping-cart {
	width:100%;
	height: 100%;
}

.cart-header {
	font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
	border-bottom: 1px solid;
	padding: 10px 0;
	margin: 5px 0 0;
}

.toppings {
	padding-right: 7px;
	display: inline;
	font-size: 18px
}

.spacer {
	width: 300px;
}
