{% extends 'template.html' %}

{% load static %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}
	<div class='header-wrapper b_header'>
		<div class='inner-header-wrapper'>
			<h1 class='business-name'>Ridgeway Pizza</h1>
			<p class='business-address'>2802 Summer Street, Stamford CT, 06905</p>
			<a class='header-button' href='#'>Full Menu</a>
		</div>
	</div>
	<div class='stripe-image'></div>
	<div class='business-content'>
		<div class='popular-items'>
			<h2 class='popular-items-header'>Most Popular</h2>
			<a class='popular-item-wrapper' href='#'>
				<h3>Cheese Pizza</h3>
				<p>Classic cheese or create your own pizza.</p>
			</a>
			<a class='popular-item-wrapper' href='#'>
				<h3>Sicilian Cheese Pizza</h3>
				<p>Classic cheese or create your own sicilian pizza.</p>
			</a>
			<a class='popular-item-wrapper' href='#'>
				<h3>Beef Patty</h3>
			</a>

		</div>
		<div class='business-details'>
			<a class='make-order' href='#'>Make an Order</a>
		</div>
	</div>

    <link rel='stylesheet' type='text/css' href="{% static 'css/index.css' %}" />
{% endblock %}
