{% extends 'template.html' %}

{% load static %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}
	<div class='header-wrapper b_header'>
		<div class='inner-header-wrapper'>
			<h1 class='business-name'>Ridgeway Pizza</h1>
			<p class='business-address'>2802 Summer Street, Stamford CT, 06905</p>
			<a class='header-button' href='#'>Full Menu</a>
		</div>
	</div>
	<div class='stripe-image'></div>
	<div class='business-content'>
		<div class='popular-items'></div>
		<div class='business-details'></div>
	</div>

    <link rel='stylesheet' type='text/css' href="{% static 'css/index.css' %}" />
{% endblock %}
