{% extends 'template.html' %}

{% load static %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block content %}
	<!---<div class='header-wrapper b_header'>
		<div class='inner-header-wrapper'>
			<p class='business-address'>2802 Summer Street, Stamford CT, 06905</p>
		</div>
	</div> --!>

	<div class='stripe-image'>
		<div class='info-header homepage-header'>
            <span class='business-name order-name'>Ridgeway Pizza</span>
            <span class='business-address'>2802 Summer Street, Stamford CT, 06905 | (203) 323-7777</span>
			<a class='header-button' href='/order'>Full Menu</a>
        </div>
	</div>
	<div class='business-content'>
			<div class='popular-items'>
				<h2 class='popular-items-header'>Most Popular</h2>
				<a class='popular-item-wrapper' href='/order'>
					<h3 class='popular-header'>Cheese Pizza</h3>
					<p class='popular-item-desc'>Classic cheese or create your own pizza.</p>
				</a>
				<a class='popular-item-wrapper' href='/order'>
					<h3 class='popular-header'>Sicilian Cheese Pizza</h3>
					<p class='popular-item-desc'>Classic cheese or create your own sicilian pizza.</p>
				</a>
				<a class='popular-item-wrapper' href='/order'>
					<h3 class='popular-header'>Beef Patty</h3>
				</a>
			</div>
		
			<div class='business-details'>
				<a class='make-order' href='/order'>Make an Order</a>
				<ul>
					<li class='weekly-schedule list-item'>
					<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' class='list-icon'>
						<path class="path1" d="M10.293 11.707l-3.293-3.293v-4.414h2v3.586l2.707 2.707zM8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6z"></path>
					</svg>	
					Business Hours:
						<ul class='weekly-schedule-list'>
							<li class='list-item'>
								<span class='business-day'>Sunday</span>
								<span class='business-time'>11:00AM - 10:00PM</span>
							</li>
							<li class='list-item'>
								<span class='business-day'>Monday</span>
								<span class='business-time'>11:00AM - 10:00PM</span>	
							</li>
							<li class='list-item'>
								<span class='business-day'>Tuesday</span>
								<span class='business-time'>11:00AM - 10:00PM</span>
							</li>
							<li class='list-item'>
								<span class='business-day'>Wednesday</span>
								<span class='business-time'>11:00AM - 10:00PM</span>
							</li>
							<li class='list-item'>
								<span class='business-day'>Thursday</span>
								<span class='business-time'>11:00AM - 10:00PM</span>
							</li>
							<li class='list-item'>
								<span class='business-day'>Friday</span>
								<span class='business-time'>11:00AM - 11:00PM</span>
							</li>
							<li class='list-item'>
								<span class='business-day'>Saturday</span>
								<span class='business-time'>11:00AM - 11:00PM</span>
							</li>
						</ul>
					</li>
					<li class='list-item'>
					<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' class='list-icon'>
						<path d="M16 9l-2-4h-3v-2c0-0.55-0.45-1-1-1h-9c-0.55 0-1 0.45-1 1v8l1 1h1.268c-0.17 0.294-0.268 0.636-0.268 1 0 1.105 0.895 2 2 2s2-0.895 2-2c0-0.364-0.098-0.706-0.268-1h5.536c-0.17 0.294-0.268 0.636-0.268 1 0 1.105 0.895 2 2 2s2-0.895 2-2c0-0.364-0.098-0.706-0.268-1h1.268v-3zM11 9v-3h2.073l1.5 3h-3.573z"></path>
					</svg>Free Delivery</li>
					<li class='list-item'>
					<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' class='list-icon'>
						<path d="M7.5 1c-4.142 0-7.5 3.358-7.5 7.5s3.358 7.5 7.5 7.5c4.142 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5zM7.5 14.5c-3.314 0-6-2.686-6-6s2.686-6 6-6c3.314 0 6 2.686 6 6s-2.686 6-6 6zM8 8v-2h2v-1h-2v-1h-1v1h-2v4h2v2h-2v1h2v1h1v-1h2l-0-4h-2zM7 8h-1v-2h1v2zM9 11h-1v-2h1v2z"></path>
					</svg>$12 - $20 Minimum</li>
					<li class='list-item'>
					<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' class='list-icon'>
						<path d="M11 10c-1 1-1 2-2 2s-2-1-3-2-2-2-2-3 1-1 2-2-2-4-3-4-3 3-3 3c0 2 2.055 6.055 4 8s6 4 8 4c0 0 3-2 3-3s-3-4-4-3z"></path>
					</svg>203-323-7777</li>
			</div>
	</div>
	<div></div>

    <link rel='stylesheet' type='text/css' href="{% static 'css/index.css' %}" />
{% endblock %}
