{% extends 'template.html' %}

{% load static %}

{% block title %}Order | {{ block.super }}{% endblock %}

{% block content %}
	<div class='image-stripe'>
	<!--	<div class='info-header'>
			<h1 class='business-name order-name'>Ridgeway Pizza</h1>
			<span class='business-address'>2802 Summer Street, Stamford CT, 06905 - 203-323-7777</span>
		</div>
	--!>
		<div class='delivery-details-wrapper'>			
			<div class='delivery-details'>
				<span class='delivery-item'>30 - 45 min
				<h4 class='delivery-desc'>Wait time</h4>
				</span>
				<span class='delivery-item'>$12 - $20
				<h4 class='delivery-desc'>Minimum</h4>
				</span>
				<span class='delivery-item'>Free
				<h4 class='delivery-desc'>Delivery</h4>
				</span>
				<span class='delivery-item delivery-number'>2802 Summer Street, Stamford CT, 06905 | (203) 323-7777</span>
			</div>
		</div>
	</div>
	<div class='shop-content'>
		<div class='menu-items'>
			<div class='accordion'>
				<h3 class='food-header'>Pizza</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Pizza" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Gourmet Pizza</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Gourmet Pizzas" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Appetizers</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Appetizers" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Wings</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Wings" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Salads</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Salads" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Soups</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Soups" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Calzones</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Calzones" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Strombolis</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Strombolis" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Grinders</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Grinders" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Wraps</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Wraps" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Pasta Dishes</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Pasta Dishes" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Entrees</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Entrees" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Desserts</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Desserts" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Extras</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Extras" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}
			</div>
			<div class='accordion'>
				<h3 class='food-header'>Beverages</h3>
			</div>
			<div class='panel'>
			{% for item in menu_item %}
				{% if item.category == "Beverages" %}	
				<div class='shop-product'>
				<div class='dj-menu-item'>
				<p class='menu-item-name'>{{ item.name }}</p>
				<p class='menu-item-desc'>{{ item.description }} </p>
				</div>
				<div class='product-spacer'></div>
				<div class='product-options-wrapper'>
					{% for price in item.prices.all %}
					<div class='product-options'>
						<div class='product-size'>
							<p>{{price.size}}</p>
						</div>
						<div class='product-price'>
							<p>{{price.price}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
	
				</div>
				{% endif %}
			{% endfor %}	
			</div>
		</div>
		<div class='cart-content'>
		</div>
	</div>
	<link rel='stylesheet' type='text/css' href="{% static 'css/index.css' %}"/>
	<link rel='stylesheet' type='text/css' href="{% static 'css/order.css' %}"/>
	<script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}

